# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Models (large binary files — download separately)
/models/

# Results / output
*.hevc
*.h264
debug_frame*.jpg
debug_output/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
gswapper-config.json

#Custom
*.exe
*.7z.*
